// Color variables:
$dark-color-primary: #161618;
$dark-color-secondary: #1c1c1f;
$dark-color-tertiary: #232326;

$light-color-primary: #ededef;
$light-color-secondary: #a09fa6;
$light-color-tertiary: #34343a;

$red-color-primary: #481a14;
$red-color-secondary: #2e2322;
$red-color-tertiary: #f16a50;

$green-color-primary: #234814;
$green-color-secondary: #174814;
$green-color-tertiary: #7ef150;

// Typos variable(Sizes & Weights):
$size-large: 22px;
$size-normal: 15px;
$size-small: 14px;
$size-tiny: 13px;

$weight-bold: 700;
$weight-semibold: 500;
$weight-normal: 400;
$weight-light: 300;

// Border related variables:
$border-large: 2px solid;
$border-small: 1px solid;

$radius-large: 8px;
$radius-small: 4px;